doctype html
html
  head
    title new
    meta(name='viewport', content='width=device-width, initial-scale=1')
    include inc/style.pug
  body
    div.container
      include inc/nav.pug
      form(
        method="post"
        action='/new'
      )
        label Word
        input(
          type='text'
          name="word"
        )
        label Description
        input(
          type='text'
          name="description"
        )
        input(
          type="submit"
          value="save"
        )

